h1 {
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 28px;
  font-weight: 700;
  color: #f3f3f3;
}
.background img {
  width: 300px;
}
.background {
  height: 200px;
  background: #e54b57;
}
.background .background_content {
  position: absolute;
  width: 60vw;
  top: 30px;
  left: 20vw;
}
.btn_change_theme img {
  width: 30px;
}
.btn_change_theme {
  border: none;
  transition: 0.2s;
}
.input::-webkit-input-placeholder {
  color: #777a92;
}

.input:-ms-input-placeholder {
  color: #777a92;
}

.input::-ms-input-placeholder {
  color: #777a92;
}

.input::placeholder {
  color: #777a92;
}
.input {
  width: calc(100% - 60px);
  outline: none;
  caret-color: #cacde8;
  color: #cacde8;
  height: 50px;
  border: none;
  font-weight: 500;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 20px;
  transition: 0.2s;
}
.input_dark {
  background-color: #25273c;
}
.input_light {
  color: #9394a5;
}
.btn_add_task {
  width: 60px;
  height: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #161722;
  color: #cacde8;
  border: none;
}
.show_task_option {
  margin-top: 10px;
}
.show_task_option button {
  height: 50px;
  border-radius: 5px;
  background-color: #161722;
  color: #cacde8;
  border: none;
  padding: 0 10px;
  margin-right: 10px;
  width: 100px;
}
.show_task_option button:last-child {
  margin-right: 0;
}
